<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<dict>
		<key>debug</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>
		<key>workflow</key>
		<dict>
			<key>authentication</key>
			<dict>
				<key>shouldSkipLogin</key>
				<false/>
				<key>alphaInvitePasscode</key>
				<string>elbrus</string>
			</dict>
			<key>dashboard</key>
			<dict>
				<key>hasCustomModalPresentation</key>
				<false/>
			</dict>
			<key>mainDocumentEditor</key>
			<dict>
				<key>useUIKit</key>
				<true/>
				<key>textEditor</key>
				<dict>
					<key>shouldHaveUniqueText</key>
					<false/>
					<key>shouldEmbedSwiftUIIntoCell</key>
					<false/>
					<key>shouldShowCellsIndentation</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
