name: Fastlane test build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'     
        required: false
        default: 'develop'

jobs:
  main:
    runs-on: macOS-11
    timeout-minutes: 20

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Install SSH key for access to repository.
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_FASTLANE_COMMIT }}

  #     - name: Setup ruby
  #       uses: ruby/setup-ruby@v1.81.0
  #       with:
  #         ruby-version: 2.7.2
  #         bundler-cache: true

  #     - uses: maxim-lobanov/setup-xcode@v1.3.2
  #       with:
  #         xcode-version: '13.2'

  #     - name: Download Middleware
  #       run: ruby ./Scripts/middleware.rb --token ${{ secrets.ANYTYPE_MIDDLEWARE_ACCESS_TOKEN }}

  #     - name: Build
  #       run: |
  #         export LC_ALL=en_US.UTF-8
  #         export LANG=en_US.UTF-8
  #         bundle exec fastlane test_build
  #       env:
  #         MATCH_GIT_PRIVATE_KEY: ${{ secrets.SSH_KEY_FASTLANE_MATCH }}
  #         MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  #         APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
  #         APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_ISSUER_ID }}
  #         APP_STORE_CONNECT_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_PRIVATE_KEY }}

  dsyms:
    needs: main
    runs-on: macOS-11
    timeout-minutes: 20
    
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.inputs.branch }}
          
      - name: Setup ruby
        uses: ruby/setup-ruby@v1.81.0
        with:
            ruby-version: 2.7.2
            bundler-cache: true

      - name: Download and Upload DSYMs
        run: |
          export LC_ALL=en_US.UTF-8
          export LANG=en_US.UTF-8
          bundle exec fastlane refresh_dev_dsyms
        env:
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_ISSUER_ID }}
          APP_STORE_CONNECT_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_PRIVATE_KEY }}
